# IDEA configs
.idea/
.vscode/
.vs/
*.csproj.user
*.userprefs
**/logs/
**/*.log

# Dependency resource directories
**/node_modules/
**/packages/
**/bower_components/
**/babel_cache/
**/wwwroot/
DevOps/


#Build output directories
bin/
obj/
dist/

# Operating system files
.Spotlight-V100
.Trashes
.DS_Store
.DS_Store?
__MACOSX/

# Progect

